.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 700;
    /* color: #fff; */
    /* color: green; */
    color: black;
    font-size: max(4.5vw, 25px);
}
.header-contents p{
    /* color: #fff; */
    font-size: 1vw;
    color: black;
    /* color: green; */
    font-weight: 700;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #fff;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}
@media(max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}